* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 50%;
  box-shadow: 0px 0px 2px black;
}

.contacts {
  flex-grow: 1;
  width: 100%;
  padding:.25em;
  /* overflow-y: auto;
  height:50vh; */
}

.contact-collector {
  width: 100%;
  border-bottom: 2px solid lightgray;
  padding: 0.75em;
}

.list-item {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 0px 1px black;
}
.list-item:hover,
.contact:hover {
  transform: scale(101%);
  background-color: lightgrey;
}

.list-input-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 12px;
}
.list-input-box-div {
  display: flex;
  flex-direction: column;
  flex: 6;
  justify-content: space-between;
  gap: 12px;
}
.list-input-add-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

input {
  padding: 0.25em;
  font-size: 1.25rem;
}

button {
  padding: 0.25em;
}

.name-para {
  font-size: 1.25rem;
}
.phone-number {
  font-size: 0.9rem;
  color: gray;
}
.delete-button-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

