* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input {
  padding: 0.25em;
  font-size: 1.25rem;
  width: 100%;
}

button {
  padding: 0.25em;
}

.input-item {
  width: 100%;
}

.input-error {
  height: 1rem;
  font-size: 1rem;
  color: #e82727f5;
}

.add-button {
  /* border: none;
  background-color: #0e6a0e; */
  border-radius: 0.25em;
  padding: 0.12em 1.5em 0.12em 1.5em;
}
.add-icon {
  font-size: 2rem;
  color: white;
}

.delete-icon {
  font-size: 1.85rem;
  color: aliceblue;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
    border-color: white;
  }
}
